body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}



/*BACKGROUND ANIMATION*/
.test {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(space.png);
    animation: panning 55s infinite linear;
}

@keyframes panning {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}



/*CAST LIST AND TITLE CARD WITH TRANSITIONS
"VISIBLE" IS FOR CAST LIST, "VISIBLE2" FOR TITLE CARD*/
.text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 140px;
    width: 1600px;
    height: auto;
    right: 160px;
    z-index: 20;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: rgb(37, 6, 109);
    text-align: center;
    transition: ease-in;
    transition: ease-out;
    transition-duration: 0.5s;
  }

.letter {
    opacity: 0;
}

.credits {
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    z-index: 20;
    height: auto;
    width: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: white;
    text-align: center;
    background: none;
    opacity: 0;
    transition: ease-in;
    transition: ease-out;
    transition-duration: 0.7s;
}

.visible {
    opacity: 1;
    transition-duration: 0.7s;
}

.visible2 {
    opacity: 1;
    transition-duration: 5s;
    color: white;
}



/*LANDING PAGE*/
.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(menu_bg.png);
    z-index: 100;
    opacity: 1;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 777px;
    margin-left: 1468px;
    width: 357px;
    margin-bottom: 13px;
}

.link {
    position: relative;
    display: block;
    width: 167px;
    background-color: #5DC24C;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    color: #050503;
    text-decoration: none;
    box-sizing: border-box;
}

.link:hover {
    background-color: #050503;
    color: #5DC24C;
    border: 3px solid #5DC24C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
}

.play {
    position: relative;
    display: block;
    width: 357px;
    background-color: #5DC24C;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 10px;
    color: #050503;
    text-decoration: none;
    box-sizing: border-box;
    left: 1468px;
}

.play:hover {
    background-color: #050503;
    color: #5DC24C;
    border: 3px solid #5DC24C;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 7px;
    cursor: pointer;
}